.feedback-button {
  background-color: #373737;
  border-radius: 10px;
  height: 29px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.feedback-button.active {
  background-color: limegreen; /* Highlight active button */
}

.feedback-button .feedback {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  text-align: center;
}
