<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main-view">
      <div class="div">
        <div class="upper-right-frame">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <img class="polygon" src="https://c.animaapp.com/FNTO7Xku/img/polygon-1-2.svg" />
            <img class="img" src="https://c.animaapp.com/FNTO7Xku/img/polygon-3.svg" />
            <div class="rectangle-4"></div>
            <p class="class-solution">
              class Solution {"{"}<br />public:<br />    int climbStairs(int n) {"{"}<br />       <br />    {"}"}<br />{"}"};
            </p>
          </div>
          <div class="problem">Code:</div>
          <img class="polygon-2" src="img/polygon-2.svg" />
        </div>
        <div class="upper-right-frame-2">
          <div class="overlap">
            <div class="overlap-2">
              <div class="rectangle-5"></div>
              <div class="rectangle-6"></div>
              <div class="rectangle-7"></div>
              <img class="polygon-3" src="https://c.animaapp.com/FNTO7Xku/img/polygon-1-1.svg" />
              <img class="polygon-4" src="https://c.animaapp.com/FNTO7Xku/img/polygon-5.svg" />
            </div>
            <div class="text-wrapper">Feedback</div>
          </div>
          <img class="polygon-5" src="img/image.svg" />
          <img class="polygon-6" src="img/polygon-4.svg" />
          <img class="polygon-7" src="img/polygon-3.svg" />
        </div>
        <div class="lower-right-frame">
          <div class="overlap-3">
            <div class="rectangle-8"></div>
            <div class="rectangle-9"></div>
            <div class="rectangle-10"></div>
            <div class="text-wrapper-2">Feedback</div>
            <div class="testing">Test Cases</div>
            <div class="feedback-window">
              <div class="overlap-4">
                <div class="overlap-group-2">
                  <div class="rectangle-11"></div>
                  <div class="rectangle-12"></div>
                  <p class="feedback-text">
                    <span class="span"
                      >*** This window will display targeted feedback in response to certain mistakes and successes you
                      make in your code :<br /><br
                    /></span>
                    <span class="text-wrapper-3">!!! 1 possible error detected </span>
                    <span class="span"
                      >: You seem to not have implemented a memo in your<br />current implementation of your solution.
                      Refer to this
                    </span>
                    <span class="text-wrapper-4">source </span>
                    <span class="text-wrapper-5"
                      >in order to develop a better understanding of memoization and provide some relevant
                      examples.</span
                    >
                  </p>
                  <div class="rectangle-13"></div>
                  <div class="rectangle-14"></div>
                  <img class="polygon-8" src="https://c.animaapp.com/FNTO7Xku/img/polygon-1-2.svg" />
                  <img class="polygon-9" src="https://c.animaapp.com/FNTO7Xku/img/polygon-2.svg" />
                </div>
                <div class="text-wrapper-6">Problem</div>
              </div>
            </div>
          </div>
        </div>
        <div class="run-pannel">
          <div class="overlap-5">
            <div class="overlap-group-3">
              <div class="text-wrapper-7">RUN</div>
              <img class="polygon-10" src="https://c.animaapp.com/FNTO7Xku/img/polygon-3-1.svg" />
            </div>
            <div class="div-wrapper"><div class="text-wrapper-8">Submit</div></div>
          </div>
        </div>
        <div class="overlap-6"><div class="text-wrapper-9">Problems</div></div>
      </div>
    </div>
  </body>
</html>
