.bottomframe-default {
  background-color: #1e1e1e;
  border-radius: 10px;
  height: 439px;
  position: relative;
  width: 675px;
  display: flex;
  flex-direction: column;
}

.bottomframe-default .overlap-group-2 {
  background-color: #0c0b0b;
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 0 12px;
}

.bottomframe-default .bottomframe-content {
  overflow-y: auto; /* Enables vertical scrolling */
  background-color: #1e1e1e;
  padding: 10px;
  height: 100%; /* Fill remaining height */
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  line-height: 1.5;
  border-top: 1px solid #373737; /* Optional border for separation */
}

.bottomframe-default .bottomframe-content::-webkit-scrollbar {
  width: 8px;
}

.bottomframe-default .bottomframe-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
